[submodule "projects/github.com/play-with-go/play-with-go"]
	path = projects/github.com/play-with-go/play-with-go
	url = https://github.com/play-with-go/play-with-go
[submodule "projects/github.com/timberio/vector"]
	path = projects/github.com/timberio/vector
	url = https://github.com/timberio/vector
[submodule "projects/github.com/Caascad/unity-tests"]
	path = projects/github.com/Caascad/unity-tests
	url = https://github.com/Caascad/unity-tests.git
[submodule "projects/github.com/addreas/homelab"]
	path = projects/github.com/addreas/homelab
	url = https://github.com/addreas/homelab.git
[submodule "projects/github.com/cue-sh/cfn-cue"]
	path = projects/github.com/cue-sh/cfn-cue
	url = https://github.com/cue-sh/cfn-cue.git
[submodule "projects/github.com/cue-lang/unity-example"]
	path = projects/github.com/cue-lang/unity-example
	url = https://github.com/cue-lang/unity-example
