[submodule "projects/github.com/play-with-go/play-with-go"]
	path = projects/github.com/play-with-go/play-with-go
	url = https://github.com/play-with-go/play-with-go
[submodule "projects/github.com/cue-sh/unity-example"]
	path = projects/github.com/cue-sh/unity-example
	url = https://github.com/cue-sh/unity-example
[submodule "projects/github.com/timberio/vector"]
	path = projects/github.com/timberio/vector
	url = https://github.com/myitcvforks/vector
[submodule "projects/github.com/TangoGroup/cfn-cue"]
	path = projects/github.com/TangoGroup/cfn-cue
	url = https://github.com/TangoGroup/cfn-cue.git
[submodule "projects/github.com/Caascad/unity-tests"]
	path = projects/github.com/Caascad/unity-tests
	url = https://github.com/Caascad/unity-tests.git
