[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = unity - run experiments/regression tests on CUE modules
[access "refs/*"]
	owner = group user/porcuepine
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/porcuepine
	label-Verified = -1..+1 group user/porcuepine
	push = group user/porcuepine
	read = group user/porcuepine
	rebase = group user/porcuepine
	removeReviewer = group user/porcuepine
	submit = group user/porcuepine
[access "refs/heads/*"]
	create = group user/porcuepine
	push = +force group user/porcuepine
	pushMerge = group user/porcuepine
	read = group user/porcuepine
[access "refs/tags/*"]
	push = group user/porcuepine
	push = +force group user/porcuepine
