[access]
	inheritFrom = All-Projects
[submit]
	mergeContent = true
	action = cherry pick
[access "refs/*"]
	read = group Anonymous Users
	owner = group cue.works Super Admins
[access "refs/for/refs/*"]
	push = group cue.works Approvers
	read = group cue.works Approvers
	rebase = group cue.works Approvers
	removeReviewer = group cue.works Approvers
	submit = group cue.works Approvers
[access "refs/heads/*"]
	create = group cue.works Super Admins
	push = +force group cue.works Super Admins
	pushMerge = group cue.works Super Admins
	read = group cue.works Admins
	labelAs-TryBot-Result = -1..-1 group cue.works trybot
	label-TryBot-Result = -1..+1 group cue.works trybot
	label-Code-Review = 0..+2 group cue.works Approvers
	label-Code-Review = 0..+1 group Registered Users
	label-Hold = +0..+1 group cue.works Approvers
	submit = group cue.works Approvers
	abandon = group cue.works Admins
	editHashtags = group cue.works Approvers
[access "refs/tags/*"]
	push = group cue.works Super Admins
	create = group cue.works Super Admins
	createTag = group cue.works Super Admins
[access "refs/meta/config"]
	exclusiveGroupPermissions = label-Code-Review push read submit
	read = group cue.works Admins
	push = group cue.works Admins
	label-Code-Review = 0..+2 group cue.works Admins
	submit = group cue.works Admins
	editHashtags = group cue.works Admins
[access "refs/for/refs/meta/config"]
	push = group cue.works Admins
[label "TryBot-Result"]
	function = NoBlock
	value = -1 Fail
	value = 0 No score
	value = +1 Pass
	defaultValue = 0
[label "Verified"]
	function = MaxWithBlock
	defaultValue = 0
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = true
	requireChangeId = true
	createNewChangeForAllNotInTarget = false
	rejectImplicitMerges = true
[change]
	privateByDefault = false
	workInProgressByDefault = false
[reviewer]
	enableByEmail = false
[project]
	description = unity - run experiments/regression tests on CUE modules
[label "Code-Review"]
	function = NoOp
	defaultValue = 0
	copyCondition = is:ANY
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
[label "Hold"]
	function = NoOp
	defaultValue = 0
	copyCondition = is:ANY
	value = 0 This change can be submitted.
	value = +1 Hold this change: don't submit it yet.
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
[commentlink "github"]
	match = "(#)(\\d+)"
	link = https://cuelang.org/issue/$2
[submit-requirement "Do-Not-Submit"]
	description = Changes that have DO NOT SUBMIT in their commit message are not submittable.
	applicableIf = message:\"^.*(D|d)(O|o) (N|n)(O|o)(T|t) (S|s)(U|u)(B|b)(M|m)(I|i)(T|t).*\"
	submittableIf = is:false
[submit-requirement "Do-Not-Review"]
	description = Changes that have DO NOT REVIEW in their commit message are not submittable.
	applicableIf = message:\"^.*(D|d)(O|o) (N|n)(O|o)(T|t) (R|r)(E|e)(V|v)(I|i)(E|e)(W|w).*\"
	submittableIf = is:false
[submit-requirement "Code-Review"]
	description = At least one Code-Review+2 is required. Self review is not allowed.
	submittableIf = label:Code-Review=MAX,user=non_uploader
	canOverrideInChildProjects = true
[submit-requirement "No-Holds"]
	description = Changes with a Hold+1 vote are not submittable.
	submittableIf = NOT label:Hold=1
[submit-requirement "TryBot-Result"]
	description = TryBot-Result+1 is required. Unity-Result is not, as intentional breakages can happen. Can be bypassed by Chief Cueckoo with Code-Review+2.
	applicableIf = -branch:refs/meta/config
	submittableIf = label:TryBot-Result=MAX OR label:Code-Review=MAX,user=chief.cueckoo@gmail.com
	canOverrideInChildProjects = true
